<ion-header>
  <ion-navbar hideBackButton>
    <ion-title style="text-align: center">
      Quiz
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="questionsData" style="text-align: center">
  <div style="margin-top: 60px;">
    
    <ion-chip outline color="primary">
      <ion-icon name="help-circle" color="primary"></ion-icon>
      <ion-label>{{questionIndex+1}} of {{questionCount}}</ion-label>
    </ion-chip>

    <ion-chip outline color="secondary">
      <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
      <ion-label>{{correctAnswers}}</ion-label>
    </ion-chip>
  
    <ion-chip outline color="danger">
      <ion-icon name="close-circle" color="danger"></ion-icon>
      <ion-label>{{wrongAnswers}}</ion-label>
    </ion-chip>
  </div>
  
  <p style="font-size: 20px;height: 60px;font-weight: bold; margin-top: 40px">{{questionsData.results[questionIndex].question}}</p>
      
  <br>
  <!-- true/false radio buttons -->
<ion-list radio-group [(ngModel)]="rgValue">
<ion-item *ngFor="let choice of choices" >
  <ion-label>{{choice}}</ion-label>
  <ion-radio item-left value="{{choice}}" color="primary" mode="md"></ion-radio>

</ion-item>
</ion-list>
<button id="btnNext" name="btnNext" style="margin-top: 25px" ion-button color="light" (click)="onClick()">Next &nbsp;<ion-icon name="ios-arrow-forward"></ion-icon></button>
</ion-content>
